body {
    background: rgb(195, 238, 255);
}

h1 {
    color: rgb(0, 0, 87);
}

.título {
    color: rgb(195, 238, 255);
    background: rgb(0, 119, 255);
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 25px;
}